# Ignore Python bytecode caches
__pycache__/
**/__pycache__/
.idea/
**/__idea__/
.vscode/

# Ignore project-specific settings file
settings.json
/settings.json
# Ignore settings file (root)
 /settings.json
# Ignore folder with spaces in the name
#Utile pour prog/

# Ignore compiled Python files
*.py[cod]
*.pyc
*.pyo
*.pyd